#addItems{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 768px!important;
  max-width: 100% !important;
  height: 576px!important;
  position: absolute!important;
  left: calc( 50% - 383px )!important;
  background: #0ec5ee;
  box-sizing: border-box;
}
