<div>
  <nav>
    <ul class="menu">
      <li>меню 1</li>
      <li>меню 2</li>
      <li>меню 3</li>
      <li>меню 4</li>
      <li>меню 5</li>
    </ul>
  </nav>

  <table>
    <tr class="tr">
      <th *ngIf="delItem">удалить</th>
      <th>приоритет</th>
      <th>название</th>
      <th>описание</th>
      <th>стоимость</th>
      <th>дата создания</th>
      <th>статус</th>
    </tr>

    <tr class="tr" *ngFor=" let item of listItem" >
      <td *ngIf="delItem"><input type="checkbox" [(ngModel)]="item.checked" ></td>
      <td *ngIf="item" [ngSwitch]="item.priority">
        <ng-template ngSwitchCase="0">Низкий</ng-template>
        <ng-template ngSwitchCase="10">Средний</ng-template>
        <ng-template ngSwitchCase="20">Высокий</ng-template>
      </td>
      <td *ngIf="item">{{item.title}}</td>
      <td *ngIf="item">{{item.description}}</td>
      <td *ngIf="item">{{item.estimate}}</td>
      <td *ngIf="item">{{item.create_date | date:'y-M-d'}} <br> {{item.create_date | date:'hh:mm:ss'}}</td>
      <td *ngIf="item" [ngSwitch]="item.state">
        <select name="limit" [(ngModel)]="item.state" (click)="newStatus();">
          <option [value]="0" >Новая</option>
          <option [value]="10">работе</option>
          <option [value]="20">Закрыта</option>
          <option [value]="30">Отменена</option>
        </select>
      </td>
    </tr>
  </table>

  <input type="submit" value="prev" (click)="prevPage()" [disabled]="firstPage()">
  <span>{{page}}</span>
  <input type="submit" value="next" (click)="nextPage()"  [disabled]="lastPage()">
    <select name="limit" [(ngModel)]="limit" (click)="getListItem()">
      <option [value]="5">5</option>
      <option [value]="10">10</option>
      <option [value]="25">25</option>
    </select>


  <div class="controlbar">
  <button type="button" class="btn btn-primary" (click)="this.popupService.openModalWithComponent()">Добавить</button>
    <button type="button" (click)="delItem = !delItem" *ngIf="!delItem">выбрать</button>
    <button type="button" (click)="delItem = !delItem" *ngIf="delItem">отмена</button>
    <button type="button" (click)="del()" *ngIf="delItem">удалить2</button>
  </div>
</div>

